/* movble-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: #877994
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #877994
}

#rhod1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhod2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(rhodo2.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhod1title {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhod1title h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}


/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */


@media screen and (orientation: landscape) {

    #rhod1 {
        width: 50vw;
    }

    #rhod2 {
        width: 50vw;
    }

    #rhod1title {
        width: 50vw;
        left: 50vw;
        background-color: #333;
    }

    #rhod1title h1 {
        width: 45vw;

    }

    /* REST OF THE DESKTOP LAYOUT HERE */

}